.reassurances-center .button{
	background: none;
    border: none;
    border-radius: 0;
    bottom: 3px;
    color: #fff;
    position: absolute;
    right: 15px;
}
.pavreassurances .column .button{
    display: none;
}
.pavreassurances .column:hover .button{
    display: block;
}
.pavreassurances{
	background: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	cursor: pointer;
}
.icon-name{
    float: left;
    margin-right: 10px;
}